<%= form_for @recipe do |f| %>  

  <div class="form-group <%= ' field_with_errors' if @recipe.errors[:name].any? %>">
  
    <%= f.label :name %>
    <%= f.text_field :name, :class=>"form-control", placeholder:"Give your recipe a name"%>
  </div>

  <div class="form-group <%= ' field_with_errors' if @recipe.errors[:description].any? %>">
    <%= f.label :description %>
    <%= f.text_area :description, :class=>"form-control", rows:"3", placeholder:"Add a description" %>
  </div>


<%= f.label :ingredients%>
  <div id='ingredients'>
    <%= f.fields_for :ingredients do |ingredient| %>
      <%= render 'ingredient_fields', :f => ingredient %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'add ingredient', f, :ingredients %>
    </div>
  </div><br>

  <%= f.label :instructions%>  
  <div id='steps'>
    <%= f.fields_for :steps do |step| %>
      <%= render 'step_fields', :f => step %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'add step', f, :steps %>
    </div>
  </div><br>

<div class="form-group <%= ' field_with_errors' if @recipe.errors[:images].any? %>">
    <%= f.label :upload_an_image %> <br> 
    <%if @recipe.images.attached?%>
    <% @recipe.images.each do |image| %>
      <%= image_tag image.variant(resize_to_limit: [100, 100])  %>
      <%= link_to 'x', delete_image_attachment_recipe_path(image.signed_id),
                method: :delete,
                data: {confirm: "Are you sure you want to delete this image?"} %>
    <% end %>
  <%end%><br>
        
    <%= f.file_field :images, multiple: true, :class=>"form-control" %>
  </div>
  
    <%= f.button "Submit", :class=>"btn btn-success"%>  <button type="button" class="btn btn-success remove_link_colour" color="inherit"><%= link_to "Cancel", recipe_path(@recipe)%></button>

  <% end %>
  


  </div>
