<div class="row">
  <%@recipes.each do |recipe|%>
    <div class = "col-sm-3">
     <div class="recipe-box">
     
      <%if recipe.images.attached?%>
        <%= link_to (image_tag recipe.images.first, class: "recipe-index"), recipe%>
      <%else%>
      <%= link_to (image_tag 'default_img.jpg', class: "recipe-index"), recipe%>
      <%end%>
  
        <h3><b><%= recipe.name%></b></h3>
        <p><%= recipe.description%></p>    
      
      <%if recipe.user == current_user%>
        <p><%= link_to "Edit", edit_recipe_path(recipe)%> |
        <%= link_to "Delete", recipe_path(recipe), method: :delete, data: {confirm: "Are you sure you want to delete #{recipe.name}?" }%></p> 
      <%elsif !current_user.added_recipes.include?(recipe)%>
        <p><i class="fa fa-heart" aria-hidden="true"><%= link_to " Add to my favorites", user_recipes_path(user: current_user, recipe: recipe), method: :post%></i></p> 
      <%else%>
        <p><%= link_to "Remove from favorites", user_recipe_path(recipe), method: :delete, data: {confirm: "Are you sure you want to remove #{recipe.name}?" }%></p> 

      <%end%>

        </div>
      </div>
      <%end%>
   
</div>

 
  
