
<h1><%=@recipe.name%></h1>
<h6>Ingredients:</h6>
<%@recipe.ingredients.split("\r\n").each do |ingredient|%>
    <%= ingredient%><br>
<%end%><br>

<h6>Instructions:</h6>
<%@recipe.instructions.split("\r\n").each do |step|%>
    <%= step%><br>
<%end%><br>


<% if @recipe.user_id == current_user.id%>
    <%= link_to "Edit Recipe", edit_recipe_path%> |
    <%= link_to "Delete", recipe_path(@recipe), method: :delete, data: {confirm: "Are you sure?" } %>
<% end %><br><br>


<h6>Comments</h6>
<%= form_for ([@recipe, @comment]) do |f| %>
    <%= f.text_field :content, class: "commentBox", style: "width: 35%", placeholder:"add a comment" %>
    <%= f.submit "Post Comment"%>
<% end %>




<%if !@recipe.comments.empty?%>
    <% @comments.each do |comment|%>
       <br> <%= comment.user.name%> says: <%= comment.content%>      
    <%end%>
<%end%>
