
<h1><%=@recipe.name%></h1>
<strong>Description:</strong>
<p><%=@recipe.description%></p>

<strong>Ingredients:</strong>
<ul>
  <%@recipe.ingredients.each do |i|%>
    <li><%= i.quantity%> <%= i.name%></li> </td>
    <%end%>
    </ul>


<strong>Instructions:</strong>
<ol>
<%@recipe.steps.each do |step|%>
    <li><%= step.instructions%></li>
<%end%>
</ol>


<% if @recipe.user_id == current_user.id%>
    <%= link_to "Edit Recipe", edit_recipe_path%> |
    <%= link_to "Delete", recipe_path(@recipe), method: :delete, data: {confirm: "Are you sure you want to delete #{@recipe.name}?" } %>
<% end %><br>

<%= link_to "See all comments", recipe_comments_path(@recipe)%><br><br>

<%= render '/comments/form' %>


<%if !@recipe.comments.empty?%>
    <% @comments.each do |comment|%>
       <br> <%= comment.user.name%> says: <%= comment.content%>      
    <%end%>
<%end%>
