
<h1 style="color:red"><%=@recipe.name%></h1>

      <% if @recipe.user_id == current_user.id%>
        <%= link_to "Edit Recipe", edit_recipe_path%> |
        <%= link_to "Delete", recipe_path(@recipe), method: :delete, data: {confirm: "Are you sure you want to delete #{@recipe.name}?" } %>

      <%elsif !current_user.added_recipes.include?(@recipe)%>
      by <%= link_to "#{@recipe.user.name}", user_path(@recipe.user)%> |
        <%= link_to "Add to my favorites", user_recipes_path(user: current_user, recipe: @recipe), method: :post%>
      <%else%>
      by <%= link_to "#{@recipe.user.name}", user_path(@recipe.user)%> |
        <%= link_to "Remove from favorites", user_recipe_path(@recipe),  method: :delete, data: {confirm: "Are you sure you want to remove #{@recipe.name} from favorites?" }%></li> 

      <%end%><br><br>
    
<%if @recipe.images.attached?%>
    <%= image_tag  @recipe.images.first.variant(resize_to_limit: [300, 300])  %><br><br>
<%end%>

<strong style="color:red"> Category: </strong> <%=@recipe.category_name%> |
<strong style="color:red">Prep Time:</strong> <%=@recipe.prep_time%> mins |
<strong style="color:red">Cook Time:</strong> <%=@recipe.cook_time%>mins<br><br>

<strong style="color:red">Description:</strong>
<p><%=@recipe.description%></p>

<strong style="color:red">Ingredients:</strong>
<ul>
  <%@recipe.ingredients.each do |i|%>
    <li><%= i.quantity%> <%= i.name%></li> </td>
    <%end%>
    </ul>

<strong style="color:red">Instructions:</strong>
<ol>
<%@recipe.steps.each do |step|%>
    <li><%= step.instructions%></li>
<%end%>
</ol>

<%if @recipe.images.attached?%>
<strong style="color:red">Gallery:</strong><br>
  <% @recipe.images.each do |image| %>
    <%= link_to image_tag(image.variant(resize: "100x100")), image.variant(resize: "800x800") %>
  <% end %>
<%end%><br>
    


<%= render '/comments/form' %>


<%if !@recipe.comments.empty?%>
    <% @comments.each do |comment|%>
       <br> <%= comment.user.name%> says: <%= comment.content%>
       <%if @recipe.user == current_user || comment.user == current_user%>    
            <%= link_to "x", recipe_comment_path(@recipe, comment), method: :delete, data: {confirm: "Are you sure you want to delete this comment?" } %>
       <%end%>      
    <%end%>
<%end%><br>
<br><%= link_to "See all comments", recipe_comments_path(@recipe)%><br><br>