<h1>My Recipes</h1>
<div class="container">
<p> <%= link_to "Add a recipe", new_recipe_path %> |
 <%= link_to "Back to all recipe", recipes_path %> <p>

<%if current_user.recipes.empty?%>
<%= "You haven't added any recipes yet. Add a recipe to begin!"%>
<%else%>
    <div class='search-area'>
        <h3>Search your recipes</h3>
        <%=form_tag '/my_recipes', method: :get do%>
            <%render 'recipes/search'%>
        <%end%>
    </div>

  <%= render '/recipes/home'%>


<%end%>
</div>


