<%if @user == current_user%>    
    <div class="w3-container w3-padding-32 w3-center">  
    <strong style="color:blue"><%= link_to 'Edit Account Profile', edit_user_registration_path, :class => 'navbar-link' %> | <%= link_to "Delete Account", user_path(current_user), method: :delete, data: {confirm: "Are you sure you want to delete your account?" } %></strong><br><br>
    <h3>About Me</h3><br>
        <%if !current_user.avatar.blank?%>
            <%= image_tag  current_user.avatar.variant(resize_to_limit: [300, 300])  %>
          <%elsif current_user.image%>
            <img src="<%=current_user.image%>" alt="Me" class="w3-image" style="display:block;margin:auto" width="300" height="533"> 
          <%end%>
       <div class="w3-padding-32">
        <h4><b><%=current_user.name%></b></h4>
            <strong>Email: </strong><%=current_user.email%><br>
            <strong>Recipes Created: </strong><%=current_user.recipes.count%><br>
            <strong>Recipes Saved to Favorites: </strong><%=current_user.added_recipes.count%> <br>
            <strong>Number of follower: </strong><%=Friendship.where(friend_id: params[:id]).count%><br><br>
            
            <%if current_user.bio%>
                <p><%=current_user.bio%></p>
                <strong style="color:blue"><%=link_to "Edit my Bio / Profile Pic", edit_user_path(current_user)%></strong>
            <%else%>
                <strong style="color:blue"><%=link_to "Complete Profile", edit_user_path(current_user)%></strong>    
            <%end%>    
        </div>
  </div><br>

    
<%else%>

<div class="w3-container w3-padding-32 w3-center"> 
    <div class="row"> 
        <div class="col-8">
            
            <%if !@user.avatar.blank?%>
                <%= image_tag  @user.avatar.variant(resize_to_limit: [300, 300])  %>
            <%elsif @user.image%>
                <img src="<%=@user.image%>" alt="Me" class="w3-image" style="display:block;margin:auto" width="300" height="533"> 
            <%end%>

            <div class="w3-padding-32">
                <h4><b><%=@user.name%></b></h4>
                    <%if !current_user.friends.include?(@user)%>
                        <i class="fa fa-user-plus"> <em><strong><%=link_to "Add Friend", friendships_path(friend: @user), class: "btn btn-sm btn-success", method: :post %></strong></em></i>
                    <%else%>
                        <span class="badge badge-warning remove_link_colour">
                            <%= link_to "Stop following", friendship_path(@user), method: :delete, data: {confirm: 'Are you sure?'}%></td>
                        </span>
                    <%end%><br><br>

                    <strong>Recipes Created: </strong><%=@user.recipes.count%><br>
                    <strong>Recipes Saved to Favorites: </strong><%=@user.added_recipes.count%> <br>
                    <strong>Number of follower: </strong><%=Friendship.where(friend_id: @user.id).count%><br><br>
                    
                    <%if @user.bio%>
                        <p><%=@user.bio%></p>
                    <%end%> 
            </div>  
        </div>  

    
        <div class="col-4">
            <%if !@user.friends.empty?%>
                <h4><b>Friends (<%=@user.friends.count%>)</b></h4>
                <%@friends=@user.friends%>
                <%=render '/friends/list'%>   
            <%end%>
        </div>

    </div>  
</div>

    <div>

        <%if !@user.recipes.empty?%>
            <h4><b>Recipes:<b></h4>
            <%@recipes = @user.recipes%>
            <%=render '/recipes/home'%>
        <%end%><br><br>

        <%if !@user.added_recipes.empty?%>
            <h4><b>Favorites:<b></h4>
            <%@recipes = @user.added_recipes%>
            <%=render '/recipes/home'%>
        <%end%><br>                    
    </div>
<%end%>



  

  