

<% unless current_user %>
<h1>Welcome to DivineFlavor!</h1>
<br><%= link_to "Sign In ", new_user_session_path %> Or <%= link_to "Sign Up", new_user_registration_path %><br>
<% else %>
<h1>Hi, <%=current_user.name%></h1>
<%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
<%= link_to "Logout", destroy_user_session_path, method: :delete %><br>
<%= Recipe.all.map do |recipe|%>
    <br><%=link_to recipe.name, recipe_path(recipe)%>
<%end%>
<% end %>
