
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container">
    <a class="navbar-brand" id="logo" href="/" >Divine Flavor </a>
    <%if current_user%>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        
         
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          My Recipes
        </a>

        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/recipes/new">Add a recipe</a></li>
            <li><a class="dropdown-item" href="/my_recipes">View my recipes</a></li>    
        </ul>
      </li>

          <li class="nav-item <%= 'active' if request.path == recipes_path%>">
            <a class="nav-link" href="/recipes">All Recipes</a>
          </li>
          <li class="nav-item <%= 'active' if request.path == my_favorites_path%>">
            <a class="nav-link" href="/my_favorites">Favorites</a>
          </li>
          <li class="nav-item <%= 'active' if request.path == my_friends_path%>">
            <a class="nav-link" href="/my_friends">Friends</a>
          </li>

        </ul>
      <ul class='navbar-nav ml-auto name_and_log'>
          <li class="nav-item user-name">
            <i style="color:white"><%=fa_icon 'user' %>   <%= link_to current_user.name, current_user, class: 'remove_link_colour profile'%>
          </i></li>
      </ul>
      <ul class="navbar-nav ml-auto name_and_log">
        <li class='nav-item'>
          <%= link_to("Logout",destroy_user_session_path,
          class: "btn btn-info", method: :delete)%>
        </li>
      </ul>
      </div>
  <%end%>
</div>
</nav>